.customTabs {
    display: flex !important;
}

.customList{
    flex-direction: column !important;
    padding-right: 10px;
}

.customItens{
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 20px;
}